# Supabase
VITE_SUPABASE_URL=https://mlgvgwkdvjzyouwtggux.supabase.co
VITE_SUPABASE_ANON_KEY=

# EmailJS
VITE_EMAILJS_SERVICE_ID=oppadoramaclub
VITE_EMAILJS_PUBLIC_KEY=RyTlfKdI6BWqOwijs
VITE_EMAILJS_TEMPLATE_ID_ADMIN=template_9jzu8ud
VITE_EMAILJS_TEMPLATE_ID_CUSTOMER=template_klazpil
VITE_EMAILJS_TEMPLATE_ID_CONTACT=template_contact
