@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800;900&family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import "tailwindcss";

@theme {
  --font-sans: "Inter", ui-sans-serif, system-ui, sans-serif;
  --font-display: "Montserrat", sans-serif;
  
  /* Nova Paleta de Cores Fornecida */
  --color-primary: #BD97B5;
  --color-primary-dark: #A67E9D;
  --color-secondary: #F3DAC9;
  --color-accent: #594949;
  --color-soft-bg: #E0D8E3;
}

@layer base {
  body {
    @apply font-sans text-[#594949] bg-white;
  }
  
  h1, h2, h3 {
    @apply font-display tracking-tight;
  }
}
